<!DOCTYPE html>
<html lang="en">
<head>
    <title>NRAO Phonebook - {% block title %}Index{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
<div class="container-fluid">
    <div class="row align-items-center" style="background-color: #224466;">
        <div class="col">
            <h1 class="display-4 text-primary m-0 text-uppercase">NRAO Directory</h1>
        </div>
        <div class="col-auto">
            <form method="get" action="/search" class="form-inline p-2">
                <input type="text" name="search" class="form-control">
                <button type="submit" class="btn btn-primary ml-2">Search</button>
            </form>
        </div>
    </div>

    {% block body %}
    <div class="row">
        <div class="col pl-0">
            <div class="bg-white rounded">
                <div class="row no-gutters">
                    <div class="col-auto bg-light">
                        <img src="{{ person.image_url }}" alt="{{ person.fullname }}" class="img-fluid"/>
                    </div>
                    <div class="col">
                        <div class="pl-3 pt-2">
                            <h2 class="font-weight-normal">{{ person.fullname }}</h2>
                            <h4 class="text-secondary"><em>{{ person.title }}</em></h4>
                            <p class="">{{ person.department }}</p>
                            <div class="row">
                                <div class="col">
                                    <dl>
                                        <dt>Email</dt>
                                        <dd><a href="mailto:{{person.email_address}}">{{person.email_address}}</a></dd>

                                        <dt>Office Phone</dt>
                                        <dd><a href="tel:{{ person.office_phone}}">{{person.office_phone}}</a></dd>

                                        <dt>Home Phone</dt>
                                        <dd><a href="tel:{{ person.home_phone}}">{{ person.home_phone }}</a></dd>

                                        <dt>Room Number</dt>
                                        <dd>
                                            {{ person.room_number }}<br/>
                                            {{ person.location }}
                                        </dd>
                                    </dl>
                                </div>
                                <div class="col">
                                    <dl>
                                        <dt>Description</dt>
                                        <dd>{{ person.description }}</dd>

                                        <dt>Employee Number</dt>
                                        <dd>{{ person.employee_number }}</dd>

                                        <dt>Groups</dt>
                                        {% for group in person.groups %}
                                        <dd class="badge badge-primary badge-pill">{{ group.description }}</dd>
                                        {% endfor %}
                                    </dl>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% if person.manager %}
        <div class="col-3 bg-light align-items-stretch border-left">
            <h4 class="font-weight-normal text-uppercase text-secondary pt-2">Manager</h4>
            {{ personCard(person.manager) }}
        </div>
        {% endif %}
    </div>

    <div class="row">
        {% if person.peers %}
        <div class="col align-items-stretch" style="background-color: #39c4da;">
            <div class="row">
                <div class="col pt-2">
                    <h2 class="font-weight-normal text-uppercase text-white">Peers</h2>
                </div>
            </div>
            <div class="row row-cols-1 {% if person.subordinates %} row-cols-md-2 {% else %} row-cols-md-4 {% endif %}">
                {% for peer in person.peers %}
                <div class="col mb-4">
                    {{ personCard(peer) }}
                </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}


        {% if person.subordinates %}
        <div class="col align-items-stretch" style="background-color: #6B4C7F;">
            <div class="row">
                <div class="col pt-2">
                    <h2 class="font-weight-normal text-uppercase text-white">Direct Reports</h2>
                </div>
            </div>
            <div class="row row-cols-1  {% if person.peers %} row-cols-md-2 {% else %} row-cols-md-4 {% endif %}">
                {% for subordinate in person.subordinates %}
                <div class="col mb-4">
                    {{ personCard(subordinate) }}
                </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>
    {% endblock %}
</div>
</body>
</html>