{%  extends "base.html" %}
{% block body %}
    <h2 class="font-weight-normal py-2">Search: <i>{{ search }}</i></h2>

    {% if records %}
        <div class="row row-cols-1  row-cols-md-4">
            {% for person in records %}
                <div class="col mb-4">
                    {{ personCard(person) }}
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>Nothing was found. Please try again.</p>
    {% endif %}
{% endblock %}